* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a, :visited, :active {
  text-decoration: none;
  color: inherit;
}

.header-index {
  text-align: center;
}
.header-index__logo {
  padding-top: 10px;
  margin: 0px 0px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 10px;
}

.location__search {
  background-color: #EAEAEA;
  color: #353535;
  padding: 10px;
}
.location__search i {
  color: #353535;
  margin-right: 10px;
}
.location__explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 0px 50px 0px;
  font-size: 18px;
}
.location__discover {
  padding: 30px 0px 25px 0px;
  font-weight: 100;
  font-size: 18px;
  width: 90%;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.header-menu i {
  margin-left: -80px;
  font-size: 22px;
  font-weight: 800;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader-bg 0.01s;
  animation-fill-mode: forwards;
  z-index: 100;
  animation-delay: 1.75s;
}

.loader-logo {
  border: 15px #9356DC solid;
  border-top: 15px solid #FF79DA;
  border-bottom: 15px solid #99E2D0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: loader 2500ms linear;
}

@keyframes loader-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(250deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.btn-heart {
  position: absolute;
  right: 25px;
  top: 200px;
}
.btn-heart .full-heart {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 1em;
}
.btn-heart .empty-heart {
  position: absolute;
}
.btn-heart:hover .full-heart {
  opacity: 1;
  font-size: 2em;
  transition-duration: 0.6s;
}
.btn-heart:hover .empty-heart {
  transition-duration: 1s;
  opacity: 0;
}

.btn-heart-menu {
  position: absolute;
  right: 120px;
  top: 30px;
}
.btn-heart-menu .full-heart {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 1em;
}
.btn-heart-menu .empty-heart {
  position: absolute;
}
.btn-heart-menu:hover .full-heart {
  opacity: 1;
  font-size: 2em;
  transition-duration: 0.6s;
}
.btn-heart-menu:hover .empty-heart {
  transition-duration: 1s;
  opacity: 0;
}

.menu-submenu__cards__card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}

.card1-appear {
  animation-delay: 0.2s;
}

.card2-appear {
  animation-delay: 0.3s;
}

.card3-appear {
  animation-delay: 0.4s;
}

.card4-appear {
  animation-delay: 0.5s;
}

@keyframes appear {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.adjust {
  transition: all 0.5s ease-in-out;
}

.selection {
  transition: all 0.49s ease-in-out;
}

.btn-select {
  position: absolute;
  top: 0px;
  right: -80px;
  background-color: #99E2D0;
  height: 100%;
  width: 70px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  transition: all 0.5s ease-in-out;
}
.btn-select .fa-circle-check {
  color: white;
  transform: rotate(800deg);
  transition-duration: 0.7s;
}

.menu-submenu__cards__card:hover {
  cursor: pointer;
}
.menu-submenu__cards__card:hover .adjust {
  width: 60%;
}
.menu-submenu__cards__card:hover .selection {
  right: 80px;
}
.menu-submenu__cards__card:hover .btn-select {
  right: -1px;
}
.menu-submenu__cards__card:hover .fa-circle-check {
  transform: rotate(0deg);
}

.location__button {
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  background: linear-gradient(#FF79DA 10%, #9356DC 150%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  width: 215px;
}

.btn-heart {
  border: none;
  background-color: transparent;
  width: 55px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__button {
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  background: linear-gradient(#FF79DA 10%, #9356DC 150%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  width: 215px;
}

.how-works {
  padding: 50px 15px 40px 20px;
}
.how-works h3 {
  font-size: 25px;
}
.how-works__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  left: -5px;
  padding: 4px 8px;
  position: relative;
  top: 50px;
}
.how-works__step {
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  display: flex;
  align-items: center;
  margin: 5px;
  font-weight: 500;
  font-size: 17px;
}
.how-works__step:hover {
  background-color: #f2eafb;
}
.how-works__step:hover > i {
  color: #9356DC;
}

.how-works__nav > li > i {
  font-size: 18px;
  color: grey;
  margin: 20px 20px 20px 35px;
}

.restaurants__title {
  padding: 40px 0px 20px 30px;
  background-color: #F6F6F6;
  font-size: 25px;
}

.restaurants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
.restaurants-container__card {
  position: relative;
  width: 90%;
  height: 280px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.restaurants-container__card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.restaurants-container__card img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.restaurants-container__new {
  top: -1px;
  right: 15px;
  font-weight: 500;
  height: 30px;
  width: 80px;
  text-align: center;
  position: absolute;
  margin-top: 15px;
  border: 2px #99E2D0 solid;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #299077;
}
.restaurants-container__title {
  inline-size: 70%;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 20px;
  line-height: 25px;
}
.restaurants-container__title2 {
  font-weight: 300;
}

.btn-heart {
  border: none;
  background-color: transparent;
  width: 55px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.main-menu {
  background-color: #F6F6F6;
}
.main-menu img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.main-menu .container-menu {
  position: relative;
  top: -55px;
  padding: 30px 10px 20px 10px;
  border-radius: 60px 60px 0px 0px;
  background-color: #F6F6F6;
}
.main-menu .container-menu__title {
  display: flex;
  padding-left: 15px;
  width: 65%;
}
.main-menu .container-menu__submenu {
  padding: 20px;
}
.main-menu .container-menu__submenu__subcontainer {
  border-bottom: #99E2D0 3px solid;
  width: 40px;
}
.main-menu .container-menu__submenu__subtitle {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 10px 8px 0px;
  width: 300%;
}

.menu-submenu__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0px 10px 0px;
  width: 100%;
}
.menu-submenu__cards__card {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  overflow: hidden;
  position: relative;
}
.menu-submenu__cards__card__title {
  padding: 12px 0px 0px 10px;
}
.menu-submenu__cards__card__text {
  padding: 0px 0px 5px 10px;
  width: 100%;
  position: relative;
}
.menu-submenu__cards__card__text__subtitle {
  padding: 7px 0px 5px 0px;
  font-weight: 300;
  font-size: 16px;
  width: 87%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-submenu__cards__card__text__subtitle__price {
  font-weight: 500;
  position: absolute;
  top: 6px;
  right: 15px;
}

.card-adjust {
  height: 95px;
}
.card-adjust .title-adjust {
  width: 75%;
  line-height: 23px;
}

body {
  font-family: "Roboto";
}

h1, h2 {
  font-family: "Shrikhand";
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
  color: white;
}
.footer-nav__logo {
  font-size: 18px;
  margin: 25px;
  cursor: pointer;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0px 0px 40px 25px;
}
.footer-nav__list .fa-utensils {
  margin-right: 13px;
}
.footer-nav__list .fa-handshake-angle {
  margin-right: 7px;
}
.footer-nav__list a[href^="mailto:"] {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
