* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header-index {
  text-align: center;
}
.header-index__logo {
  padding-top: 10px;
  margin: 0px 0px 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 10px;
}

.location__search {
  background-color: #EAEAEA;
  color: #353535;
  padding: 10px;
}
.location__search i {
  color: #353535;
  margin-right: 10px;
}
.location__explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 0px 50px 0px;
  font-size: 18px;
}
.location__discover {
  padding: 30px 0px 25px 0px;
  font-weight: 100;
  font-size: 18px;
  width: 90%;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.location__button {
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 45px;
  background: linear-gradient(#FF79DA 10%, #9356DC 150%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  width: 215px;
}

.btn-heart {
  border: none;
  background-color: transparent;
  width: 45px;
  height: 34px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.how-works {
  padding: 50px 15px 40px 20px;
}
.how-works h3 {
  font-size: 25px;
}
.how-works__number {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  left: -5px;
  padding: 4px 8px;
  position: relative;
  top: 50px;
}
.how-works__step {
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: 500;
}
.how-works__step:hover {
  background-color: #f2eafb;
}

.restaurants__title {
  padding: 40px 0px 20px 30px;
  background-color: #F6F6F6;
  font-size: 25px;
}

.restaurants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  flex-direction: column;
  gap: 20px;
}
.restaurants-container__card {
  width: 90%;
  height: 280px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.restaurants-container__card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.restaurants-container img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.restaurants-container__new {
  font-weight: 500;
  height: 30px;
  width: 80px;
  text-align: center;
  position: absolute;
  margin-top: 15px;
  right: 35px;
  border: 2px #99E2D0 solid;
  background-color: #99E2D0;
  border-radius: 2px;
  color: #299077;
  top: 116%;
}
.restaurants-container__title {
  inline-size: 70%;
  margin-top: 13px;
  margin-left: 12px;
  font-size: 20px;
  line-height: 25px;
}
.restaurants-container__title2 {
  font-weight: 300;
}

.btn-heart {
  border: none;
  background-color: transparent;
  width: 45px;
  height: 34px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

body {
  font-family: "Roboto";
}

h1, h2 {
  font-family: "Shrikhand";
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
  color: white;
}
.footer-nav__logo {
  font-size: 18px;
  margin: 25px;
  cursor: pointer;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0px 0px 40px 25px;
}
.footer-nav__list .fa-utensils {
  margin-right: 13px;
}
.footer-nav__list .fa-handshake-angle {
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
