@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.restaurants-container {
    @include flex-center;
    flex-direction: column;
    &__card {
      width: 100%;
    }
    img {
      width: 300px;
      height: 200px;
    }
}