// Index

@use '../utils/variables' as *;

.header-index {
	text-align: center;
}

.location {
	&__search {
	background-color: $background-dark-grey;
	}
	
	&__explore {
		background-color: $background-light-grey;
	}
}

//@include (for mixins button)

// Other HTML pages
.header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}