@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.how-works {
    padding: 50px 15px 40px 20px;
    h3 {
        font-size: 25px;
    }
    &__number {
        background-color: $color-primary;
        border-radius: 50%;
        color: $color-white;
        font-size: 14px;
        left: -5px;
        padding: 4px 8px;
        position: relative;
        top: 50px;
    }
    &__step {
        background-color: $bg-light-grey;
        border-radius: 20px;
        height: 70px;
        @include element-shadow;
        display: flex;
        align-items: center;
        margin: 5px;
        font-weight: 500;
        font-size: 17px;
        &:hover {
          background-color: lighten($color-primary, 35);
          > i {
            color: $color-primary;
          }
        }
    }
}

.how-works__nav > li > i {
    font-size: 18px;
    color: grey;
    margin: 20px 20px 20px 35px;
}

