@use '../utils/variables' as *;

// Spin loader

.loader
{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.9);
  animation: loader-bg 0.01s;
  animation-fill-mode: forwards;
  z-index: 100;
  animation-delay: 1.75s;
}

.loader-logo
{
  border: 15px $color-primary solid;
  border-top: 15px solid $color-secondary;
  border-bottom: 15px solid $color-tertiary;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: loader 2500ms linear;
}

@keyframes loader-bg
{
  0%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 0;
    z-index: -9999;
  }
}

@keyframes loader
{
  0%
  {
    transform: rotate(0deg);
    opacity: 1;
  }

  50%
  {
    transform: rotate(250deg);
    opacity: 0;
  }

  100%
  {
    transform: rotate(360deg);
    opacity: 1;
  }
}

// Heart animation

.btn-heart {
    position: absolute;
    right: 25px;
    top: 200px;
  .full-heart {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    font-size: 1em;
  }
  .empty-heart {
    position: absolute;
  }
  &:hover {
    .full-heart {
      opacity: 1;
      font-size: 2em;
      transition-duration: .60s;
    }
    .empty-heart {
      transition-duration: 1s;
      opacity: 0;
    }
  }
}

.btn-heart-menu {
  position: absolute;
  right: 120px;
  top: 30px;
.full-heart {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  font-size: 1em;
}
.empty-heart {
  position: absolute;
}
&:hover {
  .full-heart {
    opacity: 1;
    font-size: 2em;
    transition-duration: .60s;
  }
  .empty-heart {
    transition-duration: 1s;
    opacity: 0;
  }
}
}


// Cards appearing in menu

.menu-submenu__cards__card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  }

.card1-appear {
  animation-delay: .20s;
}

.card2-appear {
  animation-delay: .30s;
}

.card3-appear {
  animation-delay: .40s;
}

.card4-appear {
  animation-delay: .50s;
}

@keyframes appear 
{
  from 
  {
    transform: translateY(10px);
    opacity: 0;
  }
  to 
  {
    opacity: 1;
    transform: translateY(0);
  }
}



// Dish selection animation

  .adjust {
    transition: all 0.50s ease-in-out;
  }

  .selection {
    transition: all 0.49s ease-in-out;
  }

  .btn-select {  
    position: absolute;
    top: -31px;
    right: -80px;
    background-color: $color-tertiary;
    height: 75px;
    width: 70px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    transition: all 0.5s ease-in-out;
    .fa-circle-check {
      color: white;
      transform: rotate(800deg);
      transition-duration: .70s;
    }
  }

  .menu-submenu__cards__card {
    &:hover {
      cursor: pointer;
      .adjust {
        width: 60%;
      }
      .selection {
        right: 80px;
      }
      .btn-select {
        right: -1px;
      }
      .fa-circle-check {
        transform: rotate(0deg);
      }
    }
  }