// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;

$background-dark-grey: #EAEAEA;
$background-light-grey: #F6F6F6;

// Fonts
$font-primary: 'Roboto';
$font-secondary: 'Shrikhand';