// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #353535;
$color-white: white;

$bg-dark-grey: #EAEAEA;
$bg-light-grey: #F6F6F6;

// Fonts
$font-primary: 'Roboto';
$font-secondary: 'Shrikhand';

